header {
  background-color: rgb(248, 167, 170);
}

html,
body,
main {
  background-color: aqua;
}

.bg-marco {
  background-color: rgb(248, 167, 170);
}

.travel-card {
  box-shadow: 0px 0px 15px 7px #888888;
}

.btn {
  background-color: rgb(248, 167, 170);
}

.patatino {
  background-color: rgb(248, 167, 170);
  text-align: center;
  width: 100%;
  border-radius: 5px;
}